{% extends "base_client.html" %}
{% load static %}
    <!-- Navbar -->
    {% block content %}
    
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      
      <div class="row mt-4">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="card card-carousel overflow-hidden h-100 p-0" style="min-height: 400px;">
            <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
              <div class="carousel-inner border-radius-lg h-100">
                <div class="carousel-item h-100 active" style="background-image: linear-gradient(to right bottom, #0e2059, #213a6d, #38547f, #526f90, #718aa1, #7991ad, #8397b9, #8e9dc5, #9d89c3, #ba6dae, #d14c84, #d53249);">
                  <img class="d-md-block d-none" width="260" height="260" style="position: absolute; right: 50px; top: 70px;" src="https://img.icons8.com/color/240/microsoft-lens.png" alt="microsoft-lens"/>
                  <img class="d-md-none d-sm-block mt-2" width="210" height="210"  src="https://img.icons8.com/color/240/microsoft-lens.png" alt="microsoft-lens"/>
                  <div class="carousel-caption  d-md-block bottom-0 text-start start-0 ms-5">
                    
                    <h5  style="font-size: 50px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" class="text-white mb-1 d-md-block d-none">Descarga Office Lens <br> en tu dispositivo movil</h5>
                    <h5 style="font-size: 40px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" class="text-white mb-1 d-md-none d-sm-block">Descarga Office Lens <br></h5>
                    <p style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Descarga Office Lens para <span><a href="https://play.google.com/store/apps/details?id=com.microsoft.office.officelens" style="color: #d53249;">Android</a></span> o <span><a style="color: #d53249;" href="https://apps.apple.com/mx/app/microsoft-lens-pdf-scanner/id975925059?l=en-GB">IOS</a></span></p>
                  </div>
                  
                </div>
                
                <div class="carousel-item h-100" style="background-image: linear-gradient(to right bottom, #0e2059, #213a6d, #38547f, #526f90, #718aa1, #7991ad, #8397b9, #8e9dc5, #9d89c3, #ba6dae, #d14c84, #d53249);">
                  <img class="d-md-block d-none" width="260" height="260" style="position: absolute; right: 50px; top: 70px;" src="https://img.icons8.com/color/260/services--v1.png" alt="services--v1"/>
                  <img class="d-md-none d-sm-block mt-2" width="210" height="210"  src="https://img.icons8.com/color/200/services--v1.png" alt="services--v1"/>
                  <div class="carousel-caption  d-md-block bottom-0 text-start start-0 ms-5">
                    
                    <h5 style="font-size: 50px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" class="text-white mb-1 d-md-block d-none">Abre Office Lens y <br> Configura tu cuenta</h5>
                    <h5 style="font-size: 35px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" class="text-white mb-1 d-md-none d-sm-block">Configura tu cuenta<br></h5>
                    <p>Si no tienes una cuenta, <span><a href="https://account.microsoft.com/account/Account" style="color: #d53249;">Crea una gratuitamente</a></p>
                  </div>
                </div>
                <div class="carousel-item h-100" style="background-image: linear-gradient(to right bottom, #0e2059, #213a6d, #38547f, #526f90, #718aa1, #7991ad, #8397b9, #8e9dc5, #9d89c3, #ba6dae, #d14c84, #d53249);">
                  <img class="d-md-block d-none" width="260" height="260" style="position: absolute; right: 50px; top: 70px;" src="{% static 'assets/img/pngwing.com.png' %}" alt="services--v1"/>   
                  
                  <div class="carousel-caption  d-md-block bottom-0 text-start start-0 ms-5">
                    
                    <h5 style="font-size: 50px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" class="text-white mb-1 d-md-block d-none">Escanea tus documentos</h5>
                    <h5 style="font-size: 35px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" class="text-white mb-1 d-md-none d-sm-block">Escanea tus documentos<br></h5>
                    <p style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"> - Ajusta los bordes de la imagen según sea necesario</p>
                    <p style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"> - Sube los documentos a nuestro portal</p>
                    <p>Tienes una duda?, revisa la pagina oficial de <span style="color: #d53249;"><a href="https://support.microsoft.com/es-es/office/office-lens-para-android-ec124207-0049-4201-afaf-b5874a8e6f2b">Microsoft para Android</a></span> o <span style="color: #d53249;"><a href="https://support.microsoft.com/es-es/office/microsoft-lens-para-ios-fbdca5f4-1b1b-4391-a931-dc1c2582397b">IOS</a></span></p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        {% if 'INE_FRENTE' not in documentos_subidos and 'INE_FRENTE' not in documentos_aprobados and 'INE_FRENTE' not in documentos_rechazados %}
        <div class="wrapper">
            <div class="container">
              <h3>Sube el frente de tu INE</h3>
              <div class="upload-container">
                <div class="border-container">
                  <div class="icons fa-2x">
                    <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                    <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                    <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                  </div>
                  <input type="file" id="file-upload-ine-front">
                    <p>Arrastra los archivos, o busca en tu dispositivo. <br> <a style="color: #d53249;" href="#" onclick="uploadFile('file-upload-ine-front', 'INE_FRENTE')">Subir</a></p>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
        {% if 'INE_FRENTE' in documentos_subidos %}
          <div class="wrapper">
              <div class="container">
                <div class="upload-container">
                  <div class="border-container">
                    <h3> Tu documento fue cargado <br> con exito <br> y esta siendo validado.</h3>
                  </div>
                </div>
              </div>
          </div>
        {% endif %}
        {% if 'INE_FRENTE' in documentos_aprobados %}
          <div class="wrapper">
              <div class="container">
                <div class="upload-container">
                  <div class="border-container">
                    <h3> Tu documento fue  <br>Aprobado</h3>
                    <img style="width: 60px; height: 60px;" src="{% static 'assets/img/aprovado.png' %}" alt="">
                  </div>
                </div>
              </div>
          </div>
        {% endif %}

        {% if 'INE_FRENTE' in documentos_rechazados %}
        <div class="wrapper">
            <div class="container">
              <h3 style="color: #d53249;">Ups, no pudimos verificar el frente de tu INE, carga de nuevo el documento</h3>
              <div class="upload-container">
                <div class="border-container">
                  <div class="icons fa-2x">
                    <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                    <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                    <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                  </div>
                  <input type="file" id="file-upload-ine-front">
                    <p>Arrastra los archivos, o busca en tu dispositivo. <br> <a style="color: #d53249;" href="#" onclick="uploadFile('file-upload-ine-front', 'INE_FRENTE')">Subir</a></p>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
        {% if 'INE_REVERSO' not in documentos_subidos and 'INE_REVERSO' not in documentos_aprobados and 'INE_REVERSO' not in documentos_rechazados %}
        <div class="wrapper">
            <div class="container">
              <h3>Sube el reverso de tu INE</h3>
              <div class="upload-container">
                <div class="border-container">
                  <div class="icons fa-2x">
                    <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                    <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                    <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                  </div>
                  
                  <input type="file" id="file-upload-ine-reverso">
                    <p>Arrastra los archivos, o busca en tu dispositivo. <br> <a style="color: #d53249;" href="#" onclick="uploadFile('file-upload-ine-reverso', 'INE_REVERSO')">Subir</a></p>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
        {% if 'INE_REVERSO' in documentos_subidos %}
          <div class="wrapper">
              <div class="container">
                <div class="upload-container">
                  <div class="border-container">
                    <h3> Tu documento fue cargado <br> con exito <br> y esta siendo validado.</h3>
                  </div>
                </div>
              </div>
          </div>
        {% endif %}
        {% if 'INE_REVERSO' in documentos_aprobados %}
          <div class="wrapper">
              <div class="container">
                <div class="upload-container">
                  <div class="border-container">
                    <h3> Tu documento fue  <br>Aprobado</h3>
                    <img style="width: 60px; height: 60px;" src="{% static 'assets/img/aprovado.png' %}" alt="">
                  </div>
                </div>
              </div>
          </div>
        {% endif %}
        {% if 'INE_REVERSO' in documentos_rechazados %}
        <div class="wrapper">
          <div class="container">
            <h3 style="color: #d53249;">Ups, no pudimos verificar el reverso de tu INE, carga de nuevo el documento</h3>
            <div class="upload-container">
              <div class="border-container">
                <div class="icons fa-2x">
                  <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                  <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                  <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                </div>
                
                <input type="file" id="file-upload-ine-reverso">
                  <p>Arrastra los archivos, o busca en tu dispositivo. <br> <a style="color: #d53249;" href="#" onclick="uploadFile('file-upload-ine-reverso', 'INE_REVERSO')">Subir</a></p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {% if 'CURP' not in documentos_subidos and 'CURP' not in documentos_aprobados and 'CURP' not in documentos_rechazados %}
        <div class="wrapper">
            <div class="container">
              <h3>Sube tu CURP</h3>
              <div class="upload-container">
                <div class="border-container">
                  <div class="icons fa-2x">
                    <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                    <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                    <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                  </div>
                  
                  <input type="file" id="file-upload-curp">
                    <p>Arrastra los archivos, o busca en tu dispositivo. <br> <a style="color: #d53249;" href="#" onclick="uploadFile('file-upload-curp', 'CURP')">Subir</a></p>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
        {% if 'CURP' in documentos_subidos %}
          <div class="wrapper">
              <div class="container">
                <div class="upload-container">
                  <div class="border-container">
                    <h3> Tu documento fue cargado <br> con exito <br> y esta siendo validado.</h3>
                  </div>
                </div>
              </div>
          </div>
        {% endif %}
        {% if 'CURP' in documentos_aprobados %}
          <div class="wrapper">
              <div class="container">
                <div class="upload-container">
                  <div class="border-container">
                    <h3> Tu documento fue  <br>Aprobado</h3>
                    <img style="width: 60px; height: 60px;" src="{% static 'assets/img/aprovado.png' %}" alt="">
                  </div>
                </div>
              </div>
          </div>
        {% endif %}
        {% if 'CURP' in documentos_rechazados %}
        <div class="wrapper">
          <div class="container">
            <h3 style="color: #d53249;">Ups, no pudimos verificar tu CURP, carga de nuevo el documento</h3>
            <div class="upload-container">
              <div class="border-container">
                <div class="icons fa-2x">
                  <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                  <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                  <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                </div>
                
                <input type="file" id="file-upload-ine-reverso">
                  <p>Arrastra los archivos, o busca en tu dispositivo. <br> <a style="color: #d53249;" href="#" onclick="uploadFile('file-upload-curp', 'CURP')">Subir</a></p>
              </div>
            </div>
          </div>
      </div>
      {% endif %}

        {% if 'CONSTANCIA_FISCAL' not in documentos_subidos and 'CONSTANCIA_FISCAL' not in documentos_aprobados and 'CONSTANCIA_FISCAL' not in documentos_rechazados %}
        <div class="wrapper">
            <div class="container">
              <h3>Sube tu constancia fiscal</h3>
              <div class="upload-container">
                <div class="border-container">
                  <div class="icons fa-2x">
                    <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                    <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                    <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                  </div>
                  <input type="file" id="file-upload-constancia-fiscal">
                    <p>Arrastra los archivos, o busca en tu dispositivo. <br> <a style="color: #d53249;" href="#" onclick="uploadFile('file-upload-constancia-fiscal', 'CONSTANCIA_FISCAL')">Subir</a></p>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
        {% if 'CONSTANCIA_FISCAL' in documentos_subidos %}
        <div class="wrapper">
          <div class="container">
            <div class="upload-container">
              <div class="border-container">
                <h3> Tu documento fue cargado <br> con exito <br> y esta siendo validado.</h3>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if 'CONSTANCIA_FISCAL' in documentos_aprobados %}
        <div class="wrapper">
          <div class="container">
            <div class="upload-container">
              <div class="border-container">
                <h3> Tu documento fue  <br>Aprobado</h3>
                <img style="width: 60px; height: 60px;" src="{% static 'assets/img/aprovado.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if 'CONSTANCIA_FISCAL' in documentos_rechazados %}
        <div class="wrapper">
          <div class="container">
            <h3 style="color: #d53249;">Ups, no pudimos verificar tu constacia fiscal, carga de nuevo el documento</h3>
            <div class="upload-container">
              <div class="border-container">
                <div class="icons fa-2x">
                  <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                  <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                  <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                </div>
                <input type="file" id="file-upload-constancia-fiscal">
                  <p>Arrastra los archivos, o busca en tu dispositivo. <br> <a style="color: #d53249;" href="#" onclick="uploadFile('file-upload-constancia-fiscal', 'CONSTANCIA_FISCAL')">Subir</a></p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if 'COMPROBANTE_DOMICILIO' not in documentos_subidos and 'COMPROBANTE_DOMICILIO' not in documentos_aprobados and 'COMPROBANTE_DOMICILIO' not in documentos_rechazados %}
        <div class="wrapper">
            <div class="container">
              <h3>Sube tu comprobante de Domicilio</h3>
              <div class="upload-container">
                <div class="border-container">
                  <div class="icons fa-2x">
                    <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                    <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                    <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                  </div>
                  <input type="file" id="file-upload-comprobante-domicilio">
                    <p>Arrastra los archivos, o busca en tu dispositivo. <br> <a style="color: #d53249;"  href="#" onclick="uploadFile('file-upload-comprobante-domicilio', 'COMPROBANTE_DOMICILIO')">Subir</a></p>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
        {% if 'COMPROBANTE_DOMICILIO' in documentos_subidos %}
        <div class="wrapper">
            <div class="container">
              <div class="upload-container">
                <div class="border-container">
                  <h3> Tu documento fue cargado <br> con exito <br> y esta siendo validado.</h3>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
        {% if 'COMPROBANTE_DOMICILIO' in documentos_aprobados %}
          <div class="wrapper">
              <div class="container">
                <div class="upload-container">
                  <div class="border-container">
                    <h3> Tu documento fue  <br>Aprobado</h3>
                    <img style="width: 60px; height: 60px;" src="{% static 'assets/img/aprovado.png' %}" alt="">
                  </div>
                </div>
              </div>
          </div>
        {% endif %}
        {% if 'COMPROBANTE_DOMICILIO' in documentos_rechazados %}
        <div class="wrapper">
          <div class="container">
            <h3 style="color: #d53249;">Ups, no pudimos verificar tu comprobante de domicilio, carga de nuevo el documento</h3>
            <div class="upload-container">
              <div class="border-container">
                <div class="icons fa-2x">
                  <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                  <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                  <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                </div>
                <input type="file" id="file-upload-comprobante-domicilio">
                  <p>Arrastra los archivos, o busca en tu dispositivo. <br> <a style="color: #d53249;"  href="#" onclick="uploadFile('file-upload-comprobante-domicilio', 'COMPROBANTE_DOMICILIO')">Subir</a></p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}  
      </div>
      
    </div>
    {% endblock %}
