{% extends "base_client.html" %}
{% load i18n %}
{% load l10n %}

{% load static %}

{% block content %}



<div class="container-fluid py-4">
    <div id="spinner" class="spinner"></div>
    <div class="row mt-4">
        <div class="booking-container">
    
            <!-- Contenedor del Calendario -->
            <div class="calendar-container">
                <div id="calendarHeader">
                    <div class="calendar-header">
                        <div class="calendar-navigation">
                            <button class="calendar-button" onclick="prevMonth()">&#9664;</button>
                            <span id="monthName" style="font-size: 30px;">Diciembre</span> <span style="font-size: 30px;" id="year">2023</span>
                            <button class="calendar-button"  onclick="nextMonth()">&#9654;</button>
                        </div>
                    </div>
                    
                </div>
                <table class="calendar">
                    <!-- El calendario se generará aquí -->
                </table>
            </div>
        
            <!-- Contenedor de Horarios -->
            <form id="bookingForm" method="POST" action="{% url 'book_appointment' %}">
                {% csrf_token %}
                <div class="time-slots-container">
                    
                   
                    <div class="time-slot" data-time="10:00">10:00</div>
                    <div class="time-slot" data-time="11:00">11:00</div>
                    <div class="time-slot" data-time="12:00">12:00</div>
                    <div class="time-slot" data-time="13:00">13:00</div>
                    <div class="time-slot" data-time="14:00">14:00</div>
                    <div class="time-slot" data-time="15:00">15:00</div>
                    <div class="time-slot" data-time="16:00">16:00</div>
                    <div class="time-slot" data-time="17:00">17:00</div>
                    <div class="time-slot" data-time="18:00">18:00</div>
                    <div class="time-slot" data-time="19:00">19:00</div>
                </div>
                <input type="hidden" name="appointment_type" value="default"> <!-- Asegúrate de establecer esto según tus tipos de citas -->
                <input type="hidden" id="scheduledTime" name="scheduled_time">
                <div class="form-group mt-4">
                    <h6>Elige un concepto</h6>
                    <select name="appointment_type" id="appointmentTypeSelect" class="form-control">
                        <option value="Prueba de manejo">Prueba de manejo</option>
                        <option value="Firma de contrato">Firma de documentos</option>
                        <option value="Entrega de vehiculo">Entrega de vehiculo</option>
                        <!-- Más opciones -->
                    </select>
                    <button type="submit" class="btn btn-primary mt-4 boton">Agendar Cita</button>
                </div>
            </form>
        
        </div> 
        

    </div>
    
    <div class="row mt-4">
        <!-- Contenedor para citas agendadas -->
        <div class="appointments-container">
            <h2>Citas Agendadas</h2>
            <div class="appointment-list">
                <!-- Iterar sobre citas agendadas -->
                {% for cita in citas_agendadas %}
                    <div class="appointment-item">
                        <span class="appointment-date">{{ cita.fecha }}</span>
                        <span class="appointment-time">{{ cita.hora }}</span>
                        <span class="appointment-details">{{ cita.tipo }}</span>
                    </div>
                {% empty %}
                    <div>No tienes citas agendadas.</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<style>
    .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: #d53249;
    animation: spin 1s ease infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

</style>
<!-- Scripts para la funcionalidad del calendario y selección de horarios -->
<script>
    let currentYear = new Date().getFullYear();
    let currentMonth = new Date().getMonth();
    let selectedDate = new Date();

    document.addEventListener('DOMContentLoaded', function() {
    // Selecciona el formulario de reservas
        var bookingForm = document.getElementById('bookingForm');
        var spinner = document.getElementById('spinner');

        // Añade un event listener al formulario de reservas para mostrar el spinner
        bookingForm.addEventListener('submit', function(e) {
            // Muestra el spinner
            spinner.style.display = 'block';
            // No necesitas prevenir el envío del formulario a menos que necesites hacer una validación o una llamada AJAX
        });
    });

    // Función para generar el calendario
    function generateCalendar(year, month) {
        var calendar = document.querySelector('.calendar');
        var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
        var daysOfWeek = ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"];

        // Limpiar calendario existente
        calendar.innerHTML = '';

        // Crear cabecera de días de la semana
        var headerRow = calendar.insertRow();
        daysOfWeek.forEach(function(day) {
            var th = document.createElement('th');
            th.textContent = day;
            headerRow.appendChild(th);
        });

        // Obtener el primer día del mes
        var firstDay = new Date(year, month, 1);
        var date = new Date(year, month, 1 - firstDay.getDay());

        // Actualizar título del mes y año
        document.getElementById('monthName').textContent = monthNames[month];
        document.getElementById('year').textContent = year;

        // Crear filas del calendario
        for (var i = 0; i < 6; i++) {
            var row = calendar.insertRow();
            for (var j = 0; j < 7; j++) {
                var cell = row.insertCell();
                if (date.getMonth() === month) {
                    cell.textContent = date.getDate();
                    // Agregar clase 'selected' si es el día actual
                     // Marcar el día actual con una clase diferente
                    if (date.toDateString() === new Date().toDateString()) {
                        cell.classList.add('today');
                    }
                    if (selectedDate.getDate() === date.getDate() &&
                        selectedDate.getMonth() === month &&
                        selectedDate.getFullYear() === year) {
                        cell.classList.add('selected');
                    }

                }
                date.setDate(date.getDate() + 1);
            }
        }

        if (selectedDate.getFullYear() === year && selectedDate.getMonth() === month) {
            let days = calendar.querySelectorAll('td');
            days.forEach(day => {
                if (day.textContent == selectedDate.getDate()) {
                    day.classList.add('selected');
                }
            });
        }
    }

    // Funciones para navegar entre meses
    function prevMonth() {
        currentMonth--;
        if (currentMonth < 0) {
            currentMonth = 11;
            currentYear--;
        }
        generateCalendar(currentYear, currentMonth);
    }

    function nextMonth() {
        currentMonth++;
        if (currentMonth > 11) {
            currentMonth = 0;
            currentYear++;
        }
        generateCalendar(currentYear, currentMonth);
    }


    // Event listener para seleccionar un día usando delegación de eventos
    document.querySelector('.calendar').addEventListener('click', function(e) {
        if (e.target.tagName === 'TD' && e.target.textContent !== '') { // Asegúrate de que no sea un TD vacío
            var selected = document.querySelector('td.selected');
            selectedDate = new Date(currentYear, currentMonth, e.target.textContent);
            if (selected) {
                selected.classList.remove('selected');
            }
            e.target.classList.add('selected');
            // Aquí podrías actualizar otros elementos de la interfaz con la fecha seleccionada
        }
    });

    // Event listeners para la selección de horarios
    let timeSlots = document.querySelectorAll('.time-slot');
    timeSlots.forEach(function(slot) {
        slot.addEventListener('click', function() {
            timeSlots.forEach(slot => slot.classList.remove('active'));
            slot.classList.add('active');
        });
    });

    // Inicializar el calendario al cargar la página
    generateCalendar(currentYear, currentMonth);

    // Event listener para el formulario
    document.getElementById('bookingForm').addEventListener('submit', function(e) {
        e.preventDefault();

        // Obtiene la fecha y hora seleccionadas
        var selectedTimeSlot = document.querySelector('.time-slot.active');
        if (selectedTimeSlot && selectedDate) {
            // Formatea la fecha y hora en el formato esperado por Django
            var selectedDay = selectedDate.getDate();
            var selectedMonth = selectedDate.getMonth() + 1; // getMonth() devuelve 0-11
            var selectedYear = selectedDate.getFullYear();
            var timeSlot = selectedTimeSlot.getAttribute('data-time'); // Asume un formato como '13:00'

            // Construye la fecha y hora en el formato esperado por Django
            var formattedDateTime = `${selectedYear}-${selectedMonth.toString().padStart(2, '0')}-${selectedDay.toString().padStart(2, '0')} ${timeSlot}`;
            console.log(formattedDateTime);
            // Asigna este valor al campo del formulario
            document.getElementById('scheduledTime').value = formattedDateTime;

            // Envía el formulario
            this.submit();
        } else {
            alert('Por favor, selecciona una fecha y un horario para tu cita.');
        }
    });

</script>

{% endblock %}




