{% extends "base_client.html" %}
{% load static %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="card" style="background-color: #f0f2f5; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                <div class="card-body">
                    <h2 class="card-title">Notificaciones</h2>
                    <div class="notification-list">
                        {% for notificacion in notificaciones_list%}
                            <div class="notification-item">
                                <div class="notification-text">
                                    {{ notificacion.mensaje }}
                                   
                                </div>
                                <div class="notification-time">{{ notificacion.fecha_creacion|timesince }}</div>
                                {% if not notificacion.leida %}
                                    <span class="notification-dot"></span>
                                {% endif %}
                            </div>
                        {% empty %}
                            <div class="notification-item">
                                No hay notificaciones.
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /* Estilos generales */
    .notification-list {
        margin-top: 20px;
        background-color: #F0F2F5;
        border-radius: 8px;     
        overflow: hidden;
    }

    .notification-item {
        display: flex;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid #eee;
        transition: background-color 0.3s ease;
    }

    .notification-item:last-child {
        border-bottom: none;
    }

    .notification-item:hover {
        background-color: #f8f8f8;
    }

    .notification-text {
        flex-grow: 1;
        font-weight: 500; /* Fuente un poco más gruesa para el texto */
    }

    .notification-time {
        color: #999;
        font-size: 0.8em;
        margin-left: 12px;
    }

    .notification-dot {
        height: 10px;
        width: 10px;
        background-color: #0095ff;
        border-radius: 50%;
        display: inline-block;
        margin-left: 8px;
    }

    /* Estilos para notificaciones no leídas */
    .notification-item:not(.leida) .notification-text {
        color: #000; /* Texto más oscuro para notificaciones no leídas */
    }

    .notification-item:not(.leida) {
        background-color: #edf2fa; /* Fondo diferente para destacar */
    }

    /* Añade una clase 'leida' a tus notificaciones leídas en tu template de Django */
</style>

{% endblock %}

